.bounder {
  display: block;
  width: 600px;
  margin: 0 auto;
  position: relative;
  background: rgba(20, 20, 20, 0.7);
  height: 800px;
  color: white;
  border-radius: 1px;
  padding: 60px 10px 10px 10px;
  overflow: hidden;
}
.navlist {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ullist {
  display: flex;
  margin-top: 10px;
  padding: 0px;
}
.lilist {
  display: flex;
  width: 100px;
  height: 50px;
  text-align: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
  margin: 5px;
  border-bottom-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid skyblue;
}
.alist {
  display: flex;
  color: white;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
}
.viewlist {
  display: flex;
  margin: 10px;
  height: 50px;
  border-bottom-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid skyblue;
}
.input {
  margin-top: 20px;
  width: 400px;
  height: 30px;
  padding: 20;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid skyblue;
  font: size 20px;
}
.inputBtn {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  width: 55px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
}
